INOVAR.DadosPessoais.Aplicacao/INOVAR.DadosPessoais.Negocio/Service References/XYZWcf/Cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55025/Cliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55025/Cliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55025/Cliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XYZ.DadosPessoais.Dominio.Biblioteca" />
      <xsd:import schemaLocation="http://localhost:55025/Cliente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XYZ.DadosPessoais.Dominio.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_obterClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:obterClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_obterClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_obterCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:obterCliente" />
  </wsdl:message>
  <wsdl:message name="ICliente_obterCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_salva_InputMessage">
    <wsdl:part name="parameters" element="tns:salva" />
  </wsdl:message>
  <wsdl:message name="ICliente_salva_OutputMessage">
    <wsdl:part name="parameters" element="tns:salvaResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_apaga_InputMessage">
    <wsdl:part name="parameters" element="tns:apaga" />
  </wsdl:message>
  <wsdl:message name="ICliente_apaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:apagaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="obterClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/obterClientes" message="tns:ICliente_obterClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/obterClientesResponse" message="tns:ICliente_obterClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/obterCliente" message="tns:ICliente_obterCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/obterClienteResponse" message="tns:ICliente_obterCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/salva" message="tns:ICliente_salva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/salvaResponse" message="tns:ICliente_salva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="apaga">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/apaga" message="tns:ICliente_apaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/apagaResponse" message="tns:ICliente_apaga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/obterClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterCliente">
      <soap:operation soapAction="http://tempuri.org/ICliente/obterCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salva">
      <soap:operation soapAction="http://tempuri.org/ICliente/salva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="apaga">
      <soap:operation soapAction="http://tempuri.org/ICliente/apaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cliente">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://localhost:55025/Cliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>